body{
    font-size: 1,5em;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
  
    
}

article{
    padding: 10px;
}
select{
    font-size: 1em;
}
#indexMargin{
    margin-top: 50px;
}
h3{
    font-size: 20px;
    margin-bottom: 30px;
}

li{
    .nameCamera{
        font-size: 20px;
    }
}
.align{
    display: flex;
    flex-direction: row;
 
}
.addCart{
   border-left: 3px solid rgba(0, 0, 0, 0.315);
   
}
.addCartArea{
  
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    border-left: rgba(0, 0, 0, 0.472) solid 2px;
   
    
}
#imgSection{
    width: 80%;
}
#cartSection{
    width: 20%;
}


.photoArea{
    width: 208px;
    height: 184px;
    margin: 0;
}
.detailBtn{
    width: 150px;
    height: 30px;
    border: 3px solid;
    border-image: linear-gradient( to bottom, rgba(252,176,69,0.8491771708683473) , rgba(152,58,180,0.8435749299719888)) 0 1;
   
     .fa-camera-retro{
        font-size: 30px;
        transform: translate3d(0,0,0);
        
      }
      &:hover{
        animation: border-anim 0.1s ease forwards normal;

               .fa-camera-retro{
                animation: shake 1s ease forwards ;
               }
      }
}

@keyframes shake{
    10%, 90% {
        
        transform: translate3d(0,-1px,0);
    }
    20%,80%{
    
        transform: translate3d(0,2px,0);
    }
    30%,50%,70%{
        
        transform: translate3d(0,-4px,0);
    }
    40%,60%{
        transform: translate3d(0,4px,0);
    }
    80%{
        transform: scale(1.3);
    } 
    }

@keyframes border-anim{
    from{ 
        border-image: linear-gradient( to bottom, rgba(252,176,69,0.8491771708683473) , rgba(152,58,180,0.8435749299719888)) 0 1;
        
        }
  
    to{
        width: 125px;
        border-image: linear-gradient( 45deg, rgba(252,176,69,0.8491771708683473) , rgba(152,58,180,0.8435749299719888)) 1;
        padding: 1px;
        box-shadow: rgba(0, 0, 0, 0.507) 3px 3px 3px 2px ;
}
}
@keyframes slideIcon{
  from{ 
      transform: scale(1);
  }
  50%{
      transform: scale(1.1);
    
  }

  to{
      transform: scale(1);
      
  }
}


.chooseNumber{
    height: 30px;
    width: 30px;
    border: solid black 1px;
    background: white;
    margin: 0 10px;
}
.price-place{
    margin-top: 20px;
    width: 100%;
}
.product-info{
    
    margin-left: 10px;
    h1{
        margin: 0;
        margin-bottom: 10px;
    }
}
.ratingBox{
    width: fit-content;
    p{
        margin-right: 10px;
    }
}


.fa-star{
    cursor: pointer;
    margin: 0 10px;
    color: gray;
    font-size: 2em;
    
}
.stars{
  
    transition: color 1s ease;
    cursor: pointer;
    
    &:hover{
        .fa-star{
            color: #f3ca20;
        }
    }
      
        }
      
.stars .fa-star:hover ~.fa-star{
    color: grey;
}
.social{
    font-size: 1.5em;
    width: fit-content;
    margin-top: 10px;
    i{
        margin-left: 20px;
        font-size: 30px;
      
        
    }
}
.fa-facebook{
    color:  #3b5998 ;
}
.fa-twitter{
    color: #00acee;
}
 
 #spaceQty{
     margin-right: 10px;
 }
.howMuchBtn{
    text-align: center;
    background: rgb(202, 202, 202);
    border: solid black 1px;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}

.col{
    display: flex;
    flex-direction: column;
   
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textCenter{
    text-align: center;
}
header{
    justify-content: space-between;
    height: 70px;
    width: auto;
}
.logo{
    img{
        margin: 0;
        height: 70px;
        
    }
}

    
#grayFilter{
   
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100% ;
    height: 100%;
    filter: grayscale(100%);
    animation: animFilter 3s ease 2s forwards;
    
   
}
@keyframes animFilter{
    from{ 
       filter: grayscale(100%)
    }
  
    100%{
        filter: grayscale(0);
    }
    
}
a{
    text-decoration: none;
    color: black;
}
 .price{
     font-size: 25px;
 }    

.nameProduct{
    width: 100%;
    font-size: 30px;
    
    
}
.nameCamera{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1em;
    font-family: 'Indie Flower', cursive;
}
.mainBackground{
    background: rgb(252,176,69);
    background: linear-gradient(135deg, rgba(252, 176, 69, 0.904) 0%, rgba(152, 58, 180, 0.897) 100%);
}
 

   

.slide{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: space-around;
}
nav{
    padding-right: 20px;
    

    &:hover {
        #cartContainer{
            display: block;
            animation: cartSlide 1s ease forwards;
        }
        #count{
            display: none;
        }
    }

    a{
        &:hover{
               .nameCamera{
                  text-decoration: underline ;
               }
             }
        }
    }
    @keyframes cartSlide{
        from{
            
            right: -400px;
        }
        to{
            right: 0;
        }
    }

#cart{
   
    transition: width 0.4s ease, border-radius 0.1s ease ;
       .fa-running{
           display: none;
           transform: translate(-50px,0);
       }
       &:hover{
           .fa-running{
               display: block;
               margin-bottom: 5px;
               font-size: 35px;
               animation: slideHumanIcon 0.5s ease forwards;
           }
           .fa-cart-arrow-down{
               margin-top: 15px;
               animation: slideHumanIcon 0.5s ease forwards;
           }
         
       }
    }
    @keyframes slideHumanIcon{
        from{
            opacity: 0;
            transform: translate(-10px,0);
        }
        to{
            opacity: 1;
            transform: translate(0);
        }
    }
    #cartCount{
        background: rgb(255, 255, 255);
        border-radius: 30px;
        width: 70px;
        height: 70px;
        margin: 10px ;
        padding: 5px;
        border: solid 1px black;
    }
    #cartContainer{
        display: none;
        z-index: 1;
        text-align: center;
        width: auto;
        height: auto;
        width:500px ;
        height: auto;
        background: white;
        position: absolute;
        box-shadow: -1px 2px 5px 1px ;
        top: 70px;
        right: -400px;
    
        ul{
            padding: 0;
        }
        li{
            border-bottom: 1px solid black;
        }
       }
 .emptyCart{
     display: none;
 }

#count{
    font-size: 1.5em;
    font-weight: 600;
}

.cartIcon{
    color: black;
    font-size: 1.5em;

}

.cartImg{
    width: 70px;
    height: 50px;
}
h1{
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

figure{
    width: auto;
    height: auto;
    margin:0;
    transform: scale(1);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
    background-color: rgb(250, 250, 250);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
   
    .showImage{
       width: 100%;
       height: 100%;
        opacity: 0;
        filter: sepia(1);
        transition: filter 1.5s ease;
         margin-left: auto;
         margin-right: auto;
         animation: flashImg 1s linear 2.5s  forwards ;
    }
    #flashText{
        margin: 0;
    }
  
   &:hover{
       transform: scale(1.5);
       box-shadow: rgba(0, 0, 0, 0.349) 5px 0px 3px 1px  ;
       z-index: 1;
   
       .fa-camera-retro{
        animation: slideIcon 1s infinite 0.5s ease-out ;

       }
       .showImage{
           filter: sepia(0);
       }
     }
    }

.bgdImg1{
    background: black;
    animation: flash 1.2s ease 1s  forwards ;
    }
.bgdImg2{
     background: black;
     animation: flash 1.5s ease 1.4s  forwards ;
        }
.bgdImg3{
     background: black;
     animation: flash 1.2s ease 1.3s  forwards ;
          }
.bgdImg4{
     background: black;
    animation: flash 1.2s ease 1.1s  forwards ;
         }
.bgdImg5{
     background: black;
     animation: flash 1.2s ease 1.2s  forwards ;
     }
@keyframes flash {

    0%{
        background: rgb(0, 0, 0);
        
        
    }
    15%{
        background: rgb(175, 175, 175);
        
        
    }
    100%{
        background: black;
        opacity: 1;
    }
}
@keyframes flashImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.border3d{
    border-width: 3px 0 3px 0;
    border-style: outset;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    
}
figcaption{
    
    width: auto;
    height: auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.space{
    justify-content: space-around;
}
.space-b{
    justify-content: space-between;
}
.black{
    background: black;
    color: #f3ca20;
}

 .addCartBtn{
    
     margin-left: auto;
     margin-right: auto;
     background-color: #4FB0FD;
     border-radius: 3px;
     color: white;
     font-weight: 600;
     font-size: 1.5em;
     padding: 3px 10px;
     cursor: pointer;
     
     &:hover{
        
        animation: addCartAnim 0.1s ease forwards ;
       }
    &:active{
        animation: addCartReduce 0.1s ease forwards;
    }
 }
 @keyframes addCartAnim{
     from{
        
     }
     to{
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.514) ;
        transform: scale(1.05);
     }
 }
 @keyframes addCartReduce {
     from{
         transform: scale(1.1);
         
     }
     to{
        
         transform: scale(1.05);
         box-shadow: 0px 0px 5px 5px ;
         
     }
 } 

 #showProduct{
     margin: 10px;
     img{
         width: 400px;
         height: 300px;
     }
 }

 .priceProduct{
     margin-left: 10px;
 }
#listProduct{
    img{
        margin-top: auto;
        margin-bottom: auto;
    }
}
 #list{
     border: 1px black solid;
     padding: 5px;
 }
  #section{
      margin-top: 20px;
  }
.form{
    width: 30%;
    height: auto;
    padding:0 50px;
    border-left: rgba(0, 0, 0, 0.472) solid 1px;
    
}
.formSpace{
    margin: 50px 0;
    
    input{
        border: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.52);
        width: 300px;
        height: 30px;
        font-size: 1.2em;
        &:focus{
            border-bottom: 1px solid black;
            outline: 0;
        }
      
        }

    }
input::placeholder{
    font-size: 1.2em;
}

.deleteProduct{
    color: rgb(125, 149, 255);
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    &:hover{
        color: rgb(0, 47, 255);
    }
}
#cancelProduct{
    position: relative;
    
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    font-size: 1em;
}

label{
    margin-bottom: 10px;
}
.priceLine{
    display: flex;
    flex-direction: row;
}
.totalPrice{
    margin-left: 20px
}
 .validOrder{
     cursor: pointer;
     background: #4FB0FD;
     border-radius: 3px;
     margin: 30px 0;
     width: auto;
     height: 50px;
     border: 0;
     color: white;
     font-size: 1.3em;
     font-weight: 600;
     &:hover{
         box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 2px 1px ;
     }
 }
 ul{
     list-style-type: none;
 }
 li{
     font-size: 1em;
     margin-bottom: 10px;
     list-style: none;
 }
 //Screen panier vide

#emptyCartText{
    font-size: 3em;

}
#main{
    text-align: center;
}
#contact{
    width: 30%;
    border: 1px black solid;
    padding: 10px;
    margin-bottom: 10px;
}
#boxList{
    border-bottom: 1px black solid;
    margin-left: 50px;
    img{
        margin: 10px 30px 10px 0;
        border-radius: 50%;
    }
    #divList{
        margin-top: auto;
        margin-bottom: auto;

        div{
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
}
#titre{
    text-align: center;
    margin: 50px 0;
    font-size: 2em;
}
 footer{
     h2{
         text-decoration: underline;
     }
     ul{
         padding: 0;
     }
     
 }
 
 



 @media screen and (max-width:1300px) {
     
    figure{
        margin: 20px 0;
    }
    .align{
        flex-direction: unset;
    }
   #imgSection{
       width: 100%;
       
   }
    .responsiveCol{
        flex-direction: column;
    }
    .respProductPage{
        flex-direction: column;
    }
    #cartSection{
        width: auto;
        height: 400px;
        border-top: 1px black solid;
    }
    .product-info{
        padding: 20px 20px;
    }
    .ratingBox{
        margin: 30px 0;
        p{
            display: none;
        }
    }
    .stars{
        .fa-star{
            margin: 0px 10px;
            font-size: 30px;
        }
    }
    .social{
        margin-top: 50px;
        i{
            font-size: 48px;
        }
        a{
            margin: 0 10px;
        }
    }
    #lense-select{
        width:auto;
        height: 1cm;
        font-size: 1em;
    }
    #lessBtn,#plusBtn{
        width: 1cm;
        height: 1cm;
        margin: 0 10px;
    }
    .chooseNumber{
        width: 1cm;
        height: 1cm;
        font-size: 1.5em;
        text-align: center;
    }
    .form{
        margin-left: auto;
        margin-right: auto;
        width: auto;
        border-left: none;

    }
    #listProduct{
        margin: auto auto;
        padding-inline-start: 0;
    }
    .howMuchBtn{
        width: 1cm;
        height: 1cm;
    }
    }
   
    @media screen and (max-width:700px){
        #showProduct{
           
            img{
                width: 400px;
                height: 300px;
             }
         }
     
    
    
    
    .table{
        width: 100%;
    }
  
    
    footer{
    
     
        .mainBackground{
            padding-left: 20px;
        }
    }
    .footList{
        margin-left: 20px;
    }
   
    .form{

        margin: 30px 0;
        input{
            margin: 0;
        }
    }
    .priceLine{
        margin: 30px 0;
    }
    .howMuchBtn{
        width: 42px;
        height: 42px;
    }
}
    #popup{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 350px;
        height: 200px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border-radius:15px;
        background-color: white;
        border: rgba(0, 0, 0, 0.089) solid 1px;
        box-shadow: rgba(0, 0, 0, 0.527) 0px 0px 5px 2px;
        
        p{
            font-size: 2em;
            font-family:noto,sans-serif
        }
        #answers{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            #yes, #no{
                cursor: pointer;
            }

        }
        
    }

    @media screen and (max-width:620px){
        footer .align{
            flex-direction: column;
         
        }
        #list{
            flex-direction: column;
            img{
                width: 250px;
            }
            #listProduct{
                padding: 0;
            }
        }
        #showProduct{
            img{
                width: 300px;
                height: 200px;
            }
        }
    }
    @media screen and (max-width:1400px){
        #blockValidation{
            flex-direction: column;
            align-items: center;
        }
        #contact{
            width: auto;
           
        }
        #boxList{
            padding-inline-start: 0px;
            margin-left: 0;
        }
    }