body{
    font-size: 1em;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
  
    
}

article{
    padding: 10px;
}
select{
    width:150px;
}
#indexMargin{
    margin-top: 50px;
}
h3{
    font-size: 20px;
    margin-bottom: 30px;
}
p{
    margin: 2px;
    
}
li{
    .nameCamera{
        font-size: 20px;
    }
}
.align{
    display: flex;
    flex-direction: row;
 
}
.addCart{
   border-left: 3px solid rgba(0, 0, 0, 0.315);
   
}
.addCartArea{
    width: 400px;
    height: 100%;
    padding-left: 30px;
    border-left: rgba(0, 0, 0, 0.472) solid 2px;
   
    
}
#lens-select{
    width: 200px;
    height: 30px;
    font-size: 16px;
}
.quantity{
    width: fit-content;
}
.photoArea{
    width: 208px;
    height: 184px;
    margin: 0;
}
.detailBtn{
    width: 150px;
    height: 30px;
    border: 3px solid;
    border-image: linear-gradient( to bottom, rgba(252,176,69,0.8491771708683473) , rgba(152,58,180,0.8435749299719888)) 0 1;
   
     .fa-camera-retro{
        font-size: 30px;
        transform: translate3d(0,0,0);
        
      }
      &:hover{
        animation: border-anim 0.1s ease forwards normal;

               .fa-camera-retro{
                animation: shake 1s ease forwards ;
               }
      }
}

@keyframes shake{
    10%, 90% {
        
        transform: translate3d(0,-1px,0);
    }
    20%,80%{
    
        transform: translate3d(0,2px,0);
    }
    30%,50%,70%{
        
        transform: translate3d(0,-4px,0);
    }
    40%,60%{
        transform: translate3d(0,4px,0);
    }
    80%{
        transform: scale(1.3);
    } 
    }

@keyframes border-anim{
    from{ 
        border-image: linear-gradient( to bottom, rgba(252,176,69,0.8491771708683473) , rgba(152,58,180,0.8435749299719888)) 0 1;
        
        }
  
    to{
        width: 125px;
        border-image: linear-gradient( 45deg, rgba(252,176,69,0.8491771708683473) , rgba(152,58,180,0.8435749299719888)) 1;
        padding: 1px;
        box-shadow: rgba(0, 0, 0, 0.507) 3px 3px 3px 2px ;
}
}
@keyframes slideIcon{
  from{ 
      transform: scale(1);
  }
  50%{
      transform: scale(1.1);
    
  }

  to{
      transform: scale(1);
      
  }
}


.chooseNumber{
    height: 30px;
    width: 30px;
    border: solid black 1px;
    background: white;
    margin: 0 10px;
}
.price-place{
    margin-top: 20px;
    width: 100%;
}
.product-info{
    text-align: justify;
    padding: 0 50px;
    h1{
        margin: 0;
        margin-bottom: 10px;
    }
}
.ratingBox{
    width: fit-content;
    p{
        margin-right: 10px;
    }
}
.rating{
    margin-top: 10px;
    
    }

.fa-star{
    cursor: pointer;
    padding: 10px;
    color: gray;
    
}
.stars{
  
    font-size: 1.7em;
    transition: color 1s ease;
    cursor: pointer;
    
    &:hover{
        .fa-star{
            color: #f3ca20;
        }
    }
      
        }
      
.stars .fa-star:hover ~.fa-star{
    color: grey;
}
.social{
    font-size: 1.5em;
    width: fit-content;
    margin-top: 10px;
    i{
        margin-left: 20px;
        font-size: 30px;
      
        
    }
}
.fa-facebook{
    color:  #3b5998 ;
}
.fa-twitter{
    color: #00acee;
}
 .howMuchLine{
     margin-left: 10px;
 }
 
.howMuchBtn{
    text-align: center;
    background: rgb(202, 202, 202);
    border: solid black 1px;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}
.padding{
    padding-top: 50px;
}
.col{
    display: flex;
    flex-direction: column;
   
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textCenter{
    text-align: center;
}
header{
    justify-content: space-between;
    height: 70px;
    width: auto;
}
.logo{
    img{
        margin: 0;
        height: 70px;
        
    }
}

    
#grayFilter{
   
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100% ;
    height: 100%;
    filter: grayscale(100%);
    animation: animFilter 3s ease 2s forwards;
    
   
}
@keyframes animFilter{
    from{ 
       filter: grayscale(100%)
    }
  
    100%{
        filter: grayscale(0);
    }
    
}
a{
    text-decoration: none;
    color: black;
}
 .price{
     font-size: 25px;
 }    

.nameProduct{
    width: 100%;
    font-size: 30px;
    
    
}
.nameCamera{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1em;
    font-family: 'Indie Flower', cursive;
}
.mainBackground{
    background: rgb(252,176,69);
    background: linear-gradient(135deg, rgba(252, 176, 69, 0.904) 0%, rgba(152, 58, 180, 0.897) 100%);
}
 

   

.slide{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: space-around;
}
nav{
    padding-right: 20px;
    

    &:hover {
        .cartContainer{
            display: block;
            animation: cartSlide 1s ease forwards;
        }
    }

    a{
        &:hover{
               .nameCamera{
                  text-decoration: underline ;
               }
             }
        }
    }
    @keyframes cartSlide{
        from{
            
            right: -400px;
        }
        to{
            right: 0;
        }
    }

.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    width: 70px;
    height: auto;
    padding: 5px;
    border: solid 1px black;
    transition: width 0.4s ease, border-radius 0.1s ease ;
       .fa-running{
           display: none;
           transform: translate(-50px,0);
       }
       &:hover{
           .fa-running{
               display: block;
               margin-bottom: 5px;
               font-size: 35px;
               animation: slideHumanIcon 0.5s ease forwards;
           }
           .fa-cart-arrow-down{
               margin-top: 15px;
               animation: slideHumanIcon 0.5s ease forwards;
           }
           .count{
               display: none;
           }
           
           box-shadow: white 0px 0px 3px 2px ;
       }
    }
    @keyframes slideHumanIcon{
        from{
            opacity: 0;
            transform: translate(-10px,0);
        }
        to{
            opacity: 1;
            transform: translate(0);
        }
    }
    .cartContainer{
        display: none;
        z-index: 1;
        text-align: center;
        width: auto;
        height: auto;
        width:500px ;
        height: auto;
        background: white;
        position: absolute;
        box-shadow: -1px 2px 5px 1px ;
        top: 70px;
        right: -400px;
    
        ul{
            padding: 0;
        }
        li{
            border-bottom: 1px solid black;
        }
       }
 .emptyCart{
     display: none;
 }

.count{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
}

.cartIcon{
    color: black;
    font-size: 25px;

}

.cartImg{
    width: 70px;
    height: 50px;
}
h1{
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

figure{
    width: auto;
    height: auto;
    margin:0;
    transform: scale(1);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
    background-color: rgb(250, 250, 250);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
   
    .showImage{
       width: 200px;
       height: 150px;
        opacity: 0;
        filter: sepia(1);
        transition: filter 1.5s ease;
         margin-left: auto;
         margin-right: auto;
         animation: flashImg 1s linear 2.5s  forwards ;
    }
  /* img{
       display: block;
       width: 100%;
       height: 150px;
       opacity: 0;
       filter: sepia(1);
       transition: filter 1.5s ease;
        margin-left: auto;
        margin-right: auto;
        animation: flashImg 1s linear 2.5s  forwards ;
    }*/
   &:hover{
       transform: scale(1.5);
       box-shadow: rgba(0, 0, 0, 0.349) 5px 0px 3px 1px  ;
       z-index: 1;
   
       .fa-camera-retro{
        animation: slideIcon 1s infinite 0.5s ease-out ;

       }
       .showImage{
           filter: sepia(0);
       }
     }
    }
#startImg1{
    
    animation: apparitionLeft1 1s ease  ;
}
#startImg2{

    animation: apparitionLeft2 1s  ease  ;
}
#startImg3{
    animation: apparitionLeft3 1s ease;
}
#startImg4{
    animation: apparitionRight1 1s ease;
}
#startImg5{
    animation: apparitionRight2 1s ease;
}
@keyframes apparitionLeft1{
    from{
        
        opacity: 0;
        transform: translate3d(-500px,-500px,0);
        box-shadow: rgba(0, 0, 0, 0.349) 5px 10px 3px 5px;
        
    }
    to{ 
       
        transform: translate3d(0,0,0);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
        
    }
}
@keyframes apparitionLeft2{
    from{
        
        opacity: 0;
        transform: translate3d(-500px,-500px,0);
        box-shadow: rgba(0, 0, 0, 0.349) 5px 10px 3px 5px;
        
    }
    to{ 
       
        transform: translate3d(0,0,0);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
        
    }
}
@keyframes apparitionLeft3{
    from{
        
        opacity: 0;
        transform: translate3d(-500px,-500px,0);
        box-shadow: rgba(0, 0, 0, 0.349) 5px 10px 3px 5px;
        
    }
    to{ 
       
        transform: translate3d(0,0,0);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
        
    }
}

@keyframes apparitionRight1{
    from{
        
        opacity: 0;
        transform: translate3d(-500px,-500px,0);
        box-shadow: rgba(0, 0, 0, 0.349) 5px 10px 3px 5px;
        
    }
    to{ 
       
        transform: translate3d(0,0,0);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
        
    }
}
@keyframes apparitionRight2{
    from{
        
        opacity: 0;
        transform: translate3d(-500px,-500px,0);
        box-shadow: rgba(0, 0, 0, 0.349) 5px 10px 3px 5px;
        
    }
    to{ 
       
        transform: translate3d(0,0,0);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.349) 0px 7px 3px 1px  ;
        
    }
}
.bgdImg1{
    background: black;
    animation: flash 1.2s ease 1s  forwards ;
    }
.bgdImg2{
     background: black;
     animation: flash 1.5s ease 1.4s  forwards ;
        }
.bgdImg3{
     background: black;
     animation: flash 1.2s ease 1.3s  forwards ;
          }
.bgdImg4{
     background: black;
    animation: flash 1.2s ease 1.1s  forwards ;
         }
.bgdImg5{
     background: black;
     animation: flash 1.2s ease 1.2s  forwards ;
     }
@keyframes flash {

    0%{
        background: rgb(0, 0, 0);
        
        
    }
    15%{
        background: rgb(175, 175, 175);
        
        
    }
    100%{
        background: black;
        opacity: 1;
    }
}
@keyframes flashImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.border3d{
    border-width: 3px 0 3px 0;
    border-style: outset;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    
}
figcaption{
    
    width: auto;
    height: auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.space{
    justify-content: space-around;
}
.space-b{
    justify-content: space-between;
}
.black{
    background: black;
    color: #f3ca20;
}

 .addCartBtn{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
     background: #cfcfcf;
     border: solid black 1px;
     border-radius: 30px;
     font-size: 20px;
     padding: 10px 10px;
     cursor: pointer;
     &:hover{
         color: white;
        animation: addCartAnim 0.3s ease forwards ;
      
     }
 }
 @keyframes addCartAnim{
     from{
        background: #cfcfcf;
     }
     to{
        background: linear-gradient(45deg, rgba(252,176,69,0.8491771708683473) 0%, rgba(152,58,180,0.8435749299719888) 100%);
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.514) ;
        transform: scale(1.1);
     }
 }
 #showProduct{
     img{
         width: 300px;
         height: 200px;
     }
 }
 .priceProduct{
     margin-left: 10px;
 }

 .table{
     width: 70%;
     padding-top: 50px;
     padding-left: 50px;
     
 }
  table{
      width: 90%;
      margin-top: 50px;
      table-layout: fixed;
      height: 150px;
      border-collapse: collapse;
      border: 3px solid black;
  }
  
   thead th:nth-child(1){
       width: 40%;
   }
   thead th:nth-child(2){

    width: 20%;
   }
   thead th:nth-child(3){

    width: 20%;
   }

   thead th:nth-child(4){

    width: 20%;
   }
    td{
        text-align: center;
        height: 100%;
        img{
            margin-right: 20px;
        }
      
     }
     tr{
         border-bottom: thin solid black;
        
     }
   
     th,th{
         padding: 10px;
     }
  
.form{
    width: 30%;
    height: auto;
    padding:0 50px;
    border-left: rgba(0, 0, 0, 0.472) solid 1px;
    
}
.formSpace{
    margin: 50px 0;
    
    input{
        border: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.52);
        width: 300px;
        height: 30px;
        font-size: 1.2em;
        &:focus{
            border-bottom: 1px solid black;
            outline: 0;
        }
      
        }

    }
input::placeholder{
    font-size: 1.2em;
}

.deleteProduct{
    color: rgb(125, 149, 255);
    cursor: pointer;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    &:hover{
        color: rgb(0, 47, 255);
    }
}
label{
    margin-bottom: 10px;
}
.priceLine{
    display: flex;
    flex-direction: row;
}
.totalPrice{
    margin-left: 20px
}
 .validOrder{
     cursor: pointer;
     background: #4FB0FD;
     border-radius: 3px;
     margin: 30px 0;
     width: auto;
     height: 50px;
     border: 0;
     color: white;
     font-size: 1.3em;
     font-weight: 600;
     &:hover{
         box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 2px 1px ;
     }
 }
 ul{
     list-style-type: none;
 }
 li{
     font-size: 1em;
     margin-bottom: 10px;
 }
 footer{
     h2{
         text-decoration: underline;
     }
     ul{
         padding: 0;
     }
     
 }
 
 



 @media screen and (max-width:1300px) {
     
    figure{
        margin: 20px 0;
    }
    .align{
        flex-direction: unset;
    }
    footer .align{
        flex-direction: column;
    }
    .responsiveCol{
        flex-direction: column;
    }
    .product-info{
        padding: 20px 20px;
    }
    .ratingBox{
        margin: 30px 0;
        p{
            display: none;
        }
    }
    .stars{
        .fa-star{
            margin: 0px 10px;
            font-size: 48px;
        }
    }
    .social{
        margin-top: 50px;
        i{
            font-size: 48px;
        }
        a{
            margin: 0 10px;
        }
    }
   
  
    }
   
    
    #lens-select{
        width: 300px;
        height: 44px;
        font-size: 1em;
    }
    .addCartBtn{
        height: 48px;
    }
    .table{
        width: 100%;
    }
    .form{
        margin-left: auto;
        margin-right: auto;
        width: auto;

    }
    
    footer{
    
     
        .mainBackground{
            padding-left: 20px;
        }
    }
    .footList{
        margin-left: 20px;
    }
   
    .form{

        margin: 30px 0;
        input{
            margin: 0;
        }
    }
    .priceLine{
        margin: 30px 0;
    }
    

 @media  screen and (max-width:1400px) {
     
    .respProductPage{
        flex-direction: column;
    }
 .addCartArea{
     margin-left: auto;
     margin-right: auto;
     height: 400px;
    border: 0;
 }
 }